.bg-ribbon-red {
    background-color: #F06050;
}
.bg-ribbon-orange {
    background-color: #F4A460;
}
.bg-ribbon-yellow {
    background-color: #F7CD1F;
}
.bg-ribbon-sky {
    background-color: #6CC1ED;
}
.bg-ribbon-purple {
    background-color: #814968;
}
.bg-ribbon-pink {
    background-color: #EB7E7F;
}
.bg-ribbon-medium_blue {
    background-color: #2C8397;
}
.bg-ribbon-blue {
    background-color: #475577;
}
.bg-ribbon-fushia {
    background-color: #D6145F;
}
.bg-ribbon-green {
    background-color: #30C381;
}
.bg-ribbon-light_purple {
    background-color: #9365B8;
}

